.jumbotron {
  background-color: grey;
  text-align: center;
  color:
}

 .mauve {
   display: none;
   background-color: #D0B4CD;
   color: #fff;
   padding: 3px;
   text-align: center;
 }
 .mauve:hover {
   background-color: #F0C8F5;
   transform: scale(1.2);
 }

 .green {
   display: none;
   background-color: #E6F6D5;
   color: #fff;
   padding: 3px;
   text-align: center;
 }
 .green:hover {
   background-color: #E9F1E1;
   transform: scale(1.2);
 }

 .clickable {
   cursor: pointer;
   color: #0088cc;
 }

 .mainRow {
   padding: 33px;
   margin: 10px;
   text-align: center;
   background-color: #E8D595;
 }
